.color-picker {
    .purple {
        background-color: #7C81EA;
    }
    .green {
        background-color: #5eb09b;
    }
    .dark-gray {
        background-color: $main-color;
    }
    .red {
        background-color: #cc0000;
    }
    .yellow {
        background-color: #ffce67;
    }
    .blue {
        background-color: #389ec5;
    }
    .orange {
        background-color: #f90;
    }
    .light-blue {
        background-color: #85C3DC;
    }
    .black {
        background-color: #000;
    }
    .beige {
        background-color: beige;
    }
    .aqua {
        background-color: $nav-active;
    }
}