#products-header {
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    a:hover {
        border-top: solid 2px #ACDACF;
        color: #333;
   }
}
.product {
    margin-bottom: 35px;
    .product-image-holder{
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;
        > a {
            display: block;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
                    }
        .hover-list {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 19px 0;
            text-align: center;
            background-color:transparentize( #85C3DC, .05);
            li {
                display: inline-block;
                margin: 0 6%;
            }
        }
    }
    .product-title{
        margin-bottom: 15px;
        padding: 0 15px;
        h3 {
            font-size: 16px;
            float: left;
            margin-bottom: 0;
            span {
                display: block;
            }
        }
         > span{
            float: right;
            color: $link-hover;
            text-transform: uppercase;
        }
    }

     &:hover {
         .product-image-holder{
             > a {
                 opacity: .6;
             }
         }
     }
}

@media (min-width:768px){
    #hide {
        display: none !important;
      }
   }

@media (min-width:992px) {
    #hide {
         display: none !important;
   }
    .btn-block {
        margin-top: 35px;
   }
    #products-header {
        margin-bottom: 40px;
   }
    .product {
        .product-image-holder {
            .hover-list {
                bottom: -61px;
                transition: all .3s;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
           }
       }
        &:hover {
            .hover-list {
                bottom: 0;
           }
       }
   }
}
@media (min-width:1200px) {
    #article-name {
        margin-bottom: 45px;
   }
    #product-id {
        margin-top: 96px;
   }
    #hide {
        display: block !important;
   }
    #small-pics {
        li{
            margin-right: 14px;
            &:last-child{
                margin-right: 0;
           }
            margin-bottom: 70px;
            a{
                width: 80px;
                height: 80px;
                img{
                    width: 80px;
                    height: 80px;
               }
           }
       }
   }
    .img-holder {
        img {
            margin: 0 auto;
            width: 454px;
       }
   }
}
